---
import Layout from '../layouts/Layout.astro';
import {
  NewsCard,
  BibCard,
  NewsCon,
  HeaderS,
  ParaDiv,
  Section,
  Division,
  Socials,
  ScholarBtn,
} from '../components/Home.jsx';
import { Image, Picture } from '@astrojs/image/components';

const meta = {
  title: "min(Hieu)",
  description: "Welcome Home!",
}

import news_data from "../data/news.json";
import bib_data from "../data/mybibtex.json";

---

<Layout meta={meta}>
  <div class="indexMain">
    <div class="top">
      <div class="left">
        <div class="profileImage">
          <img
            src="/charlie.JPG" alt="me"
          />
        </div>
        <ParaDiv center={true}>
          <Socials/>
        </ParaDiv>
      </div>
      <div class="right">
        <ParaDiv>
            Hi! Thanks for visiting my website. <br/>
            I'm <b>Hieu</b> and I am a currently a junior
            in the department of computer science and electrical
            engineering at KAIST, South Korea. I'm also currently doing research
            under the professor <a href="https://mhsung.github.io/">Minhyuk Sung</a>
            in <a href="https://mhsung.github.io/">Geometric AI Lab</a>.
            My main research interest broadly about generative models and
            its application to computer graphics. I
            am always looking collaboration opportunities so feel free
            to contact me!
            <br/>
            In my free time I also enjoy reading books
            , making sily programs, and baking!<br/>
        </ParaDiv>
        <br/>
        <HeaderS text="News"/>
        <Division />
        <NewsCon limit={5} size={news_data.news_data.length} client:visible>
          {
            news_data.news_data.map((news) => (
              <NewsCard date={news.date} title={news.title} client:visible/>
            ))
          }
        </NewsCon>
      </div>
    </div>
    <HeaderS text="Publications" side="(* denotes equal contribution)"/>
    <Division />
    {
      bib_data.bibtex_data.map((bib) => (
        <BibCard
          title={bib.title}
          author={[bib.authorPre, bib.authorMe, bib.authorPost]}
          year={bib.year}
          journal={bib.journal}
          links={bib.links}
          image={bib.image}
          client:visible
        />
      ))
    }
  </div>
</Layout>

<style>
.indexMain {
  display: flex;
  flex-direction: column;
  padding-top: 5vmin;
  justify-content: space-between;
}

.top {
  display: flex;
  flex-direction: row;
}

.profileImage {
  display: flex;
  justify-content: center;
  align-item: center;
  padding: 15px;
}

img {
  width: 100%;
  border-radius: 0.6rem;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  padding-left: 1rem;
}

iframe {
  border-style: none;
  width: 100%;
  height: 40vh;
}

.demoEmbed {
  margin-bottom: 3vh;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .top {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 100%;
    margin-bottom: 2rem;
  }
  img {
    width: 50%;
  }
}

</style>
